<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="fragments/styles" />
<link rel="stylesheet" th:href="@{/css/admin-css.css}"/>
<script src="https://kit.fontawesome.com/4e4b8bfbfc.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
</head>
<body>
	<aside th:replace="fragments/admin-navbar :: admin-navbar"></aside>
	<main>
		<section layout:fragment="content"></section>
	</main>	
	<th:block th:replace="fragments/scripts" />
</body>
</html>