<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
	<footer>
		<div class="row">
			<div class="col-sm-3 footerleft">
				<div class="logofooter">
					<a th:href="@{/index}"><img class="img-fluid"
						th:src="@{/images/logo.png}" /></a>
				</div>
				<p>
					G3's Independent Book Store. <br />Serving our customers with the
					best.
				</p>
			</div>
			<div class="col-sm-3 paddingtop-bottom">
				<h6 class="heading">CONTACT</h6>
				<ul class="post">
					<p>
						<i class="fa fa-map-pin"></i> 123 Cach Mang Thang 8<br /> Q.10, HCM
						70000
					</p>
					<p>
						<i class="fa fa-phone"></i> Phone : 0909 999 999
					</p>
					<p>
						<i class="fa fa-envelope"></i> E-mail : group3t11805e0@gmail.com
					</p>
				</ul>
			</div>
			<div class="col-sm-3 paddingtop-bottom">
				<h6 class="heading">LINKS</h6>
				<ul class="footer-ul">
					<li><a href="#"> Privacy Policy</a></li>
					<li><a href="#"> Terms &#38; Conditions</a></li>
					<li><a href="#"> Frequently Ask Questions</a></li>
				</ul>
			</div>
			<div class="col-sm-3 paddingtop-bottom">
				<h6 class="heading">STORE HOURS</h6>
				<div class="post">
					<p>Monday - Saturday: 9am - 11pm</p>
					<p>Sunday: 10am - 10pm</p>
				</div>
			</div>
		</div>
	</footer>
	<div class="copyright">
		<div class="row">
			<div class="col-md-6">
				<p>© 2020 - All Rights Reserved</p>
			</div>
			<div class="col-md-6">
				<ul class="bottom_ul">
					<li><a href="#">About us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Faq's</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">Site Map</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>





