<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
	th:href="@{/css/style.css}" />

<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- data table -->
<link xmlns:th="http://www.thymeleaf.org"
	th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link xmlns:th="http://www.thymeleaf.org"
	th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />